<section id="wrap">
  <header>
    <%= image_tag('title.png')%>
    <p>Profesjonalizm, kreatwność, pasja...</p>
  </header>
  <article>
    <div id="about" class="box">
      <div class="inside_box">
          <center><h2>O mnie</h2></center>
        <span>Nazywam się Marcel Bielski. Pochodzę z Jeleniej Góry i na codzień uczęszczam do I klasy (prof. Informatyczny) Technikum Elektronicznego. Jestem amatorem grafiki komputerowej oraz programowania stron www. Jest to moje hobby, choć chciałbym, aby moja przyszłość (studia,praca) była z tym związana.</span>
      <p class="more show_about">Więcej…</p>        
      </div>
    </div>
    <div class="more_box_about">
      <div class="inside_box">
        <p>Znam takie języki programowania jak: HTML, JS, CSS, co nieco PHP. Wszystkiego uczę się sam, tak poważnym okiem od około 3-4 miesięcy. Sprawia mi to przyjemność i myślę , że w przyszłości przyniesie mi to duże korzyści nie tylko finansowe, ale i zdobędę doświadczenie w różnych dziedzinach życia, poznam ciekawych ludzi, jednocześnie będę spełniał się zawodowo, rozwijał swoje zainteresowanie i pracował sam dla siebie we własnym zakresie czasu.</p>
        <span class="close hide_about">X</span>
      </div>
    </div>
    <div id="portfolio" class="box inner">
      <div class="inside_box">
        <center><h2>Wykonane projekty</h2></center>
        <%= image_tag('o_heleniak_portfolio.jpg' ) %>
        <p class="more show_portfolio">Więcej…</p>
      </div>
    </div>
    <div class="more_box_portfolio">
      <div class="inside_box">
        <div class="row">
          <div class="cell">
            <%= image_tag('o_heleniak_portfolio.jpg') %>
          </div>
        </div>
        <span class="close hide_portfolio">X</span>
      </div>
    </div>
    <div id="contact" class="box">
      <div class="inside_box">
        <center><h2>Kontakt</h2></center>
        <ul>
          <li><%= image_tag('mail.png') %> marcelbielski@o2.pl</li>
          <li><%= image_tag('gg.png') %> 22888770</li>
          <li> <a href="https://www.facebook.com/MaxelDESING"> MaxelDESIGN</a></li>
        </ul>
      </div>
    </div>
  </article>
  <footer>
    © PG 2012 | <a href="http://patryk-grunt.herokuapp.com">patryk-grunt.herokuapp.com</a>
  </footer>
</section>